{% extends "layouts/main.html" %}

{% block pageTitle %}
  Get maps of your land – GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/dist/css/index.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/map-styles/dist/css/index.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/plugins/search/dist/css/index.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/scale-bar/dist/css/index.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/datasets/dist/css/index.css" rel="stylesheet" type="text/css">
  <link href="/plugin-assets/%40defra%2Finteractive-map/plugins/interact/dist/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block bodyStart %}
  <script>document.body.classList.add('im-is-loading')</script>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %} 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Get maps of your land
    </h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <!-- MOVED UP: The content divs -->
 <div id="sticky-sidebar-container">
    <div id="whole-holding">
      <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Whole holding</h2>
      <p class="govuk-!-static-margin-bottom-1">Total area (ha) 156.4460</p>
      <p class="govuk-!-static-margin-bottom-1">Total parcels	33</p>
    </div>

    <!-- Hide this div by default using inline CSS -->
    <div id="individual-land-parcels" style="display: none;"> 
      <h2 class="govuk-heading-m govuk-!-static-margin-bottom-1">Individual land parcels</h2>
      <p class="govuk-!-static-margin-bottom-1">Selected area (ha)	0</p>
      <p class="govuk-!-static-margin-bottom-1">Parcels selected	0 of 33</p>
    </div>
    <!-- END MOVED CONTENT -->

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "mapType",
      formGroup: {
        classes: "govuk-!-static-margin-bottom-1"
      },
      items: [
        {
          value: "wholeHolding",
          text: "Whole holding",
          checked: true, 
          id: "radio-whole-holding" 
        },
        {
          value: "IndividualLandParcels",
          text: "Individual land parcels",
          id: "radio-individual-parcels" 
        }
      ]
    }) }}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-2 govuk-!-static-margin-bottom-2">

</div>
    <!-- WRAPPED CONTAINER: Only for the FILTER checkboxes -->
    <!-- It should be hidden by default (since "whole holding" is default) -->
    <div id="filter-container" style="display: none;">

      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "filterLandParcels",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Filter",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-!-static-margin-bottom-1"
            }
          },
          formGroup: {
          beforeInputs: {
              html: "<input class='govuk-input' id='event-name' name='eventName' type='text'>"
                  }
          },
          items: [
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } },
            { value: "SK8287 1468", text: "SK8287 1468", hint: { text: "Total area (ha) 2.9195" } }
          ]
        }) }}
    </div>
    <!-- END WRAPPED CONTAINER -->
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-static-margin-top-2 govuk-!-static-margin-bottom-2">
    {{ govukCheckboxes({
      name: "Data",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Data",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m govuk-!-static-margin-bottom-1"
        }
      },
      items: [
        { value: "land-covers", text: "Land covers" },
        { value: "hedgerows", text: "Hedgerows" }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <!-- Download button is now outside the filter container -->
    {{ govukButton({
      text: "Download map"
    }) }}

  </div>
  <div class="govuk-grid-column-three-quarters">
    <p>{{ data.VALUE }}</p>
    <div id="map" data-zoom="12" data-center="[-2.968, 54.425]"></div>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
  <!-- Defra library scripts -->
  <script src="/plugin-assets/%40defra%2Finteractive-map/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/providers/maplibre/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/providers/open-names/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/map-styles/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/plugins/search/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/scale-bar/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/plugins/beta/datasets/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/plugins/interact/dist/umd/index.js"></script>
  <script src="/public/javascripts/request.js"></script>
  <script src="/public/javascripts/searchCustomDatasets.js"></script>
  
  <script>
    window.env = {
      WFS_SERVICE_URL: '{{ data.WFS_SERVICE_URL | safe }}',
      GRIDREF_SERVICE_URL: '{{ data.GRIDREF_SERVICE_URL | safe }}', 
      PARCEL_SERVICE_URL: '{{ data.PARCEL_SERVICE_URL | safe }}'
    }

    const interactiveMap = new defra.InteractiveMap('map', {
      mapProvider: defra.maplibreProvider(),
      reverseGeocodeProvider: defra.openNamesProvider({
        url: '/api/reverse-geocode-proxy?easting={easting}&northing={northing}'
      }),
      behaviour: 'hybrid',
      mapLabel: 'Ambleside',
      minZoom: 6,
      maxZoom: 18,
      containerHeight: '650px',
      transformRequest: transformTileRequest,
      mapStyle: {
        url: 'https://tiles.openfreemap.org/styles/liberty',
        attribution: 'OpenFreeMap © OpenMapTiles Data from OpenStreetMap',
        backgroundColor: '#f5f5f0'
      },
      plugins: [
        defra.mapStylesPlugin({
          mapStyles: [{
            id: 'outdoor',
            label: 'Outdoor',
            url: '{{ data.VTS_OUTDOOR_URL }}',
            thumbnail: '/plugin-assets/%40defra%2Finteractive-map/assets/images/outdoor-map-thumb.jpg',
            logo: '/plugin-assets/%40defra%2Finteractive-map/assets/images/os-logo.svg',
            logoAltText: 'Ordnance survey logo',
            attribution: `Contains OS data ${String.fromCharCode(169)} Crown copyright and database rights ${(new Date()).getFullYear()}`,
            backgroundColor: '#f5f5f0'
          }, {
            id: 'dark',
            label: 'Dark',
            url: '{{ data.VTS_DARK_URL }}',
            mapColorScheme: 'dark',
            appColorScheme: 'dark',
            thumbnail: '/plugin-assets/%40defra%2Finteractive-map/assets/images/dark-map-thumb.jpg',
            logo: '/plugin-assets/%40defra%2Finteractive-map/assets/images/os-logo-white.svg',
            logoAltText: 'Ordnance survey logo',
            attribution: 'Test'
          }, {
            id: 'black-and-white',
            label: 'Black/White',
            url: '{{ data.VTS_BLACK_AND_WHITE_URL }}',
            thumbnail: '/plugin-assets/%40defra%2Finteractive-map/assets/images/black-and-white-map-thumb.jpg',
            logo: '/plugin-assets/%40defra%2Finteractive-map/assets/images/os-logo-black.svg',
            logoAltText: 'Ordnance survey logo',
            attribution: 'Test'
          }, {
            id: 'satellite',
            label: 'Satellite',
            url: '{{ data.VTS_SATELLITE_URL }}',
            thumbnail: '/plugin-assets/%40defra%2Finteractive-map/assets/images/outdoor-map-thumb.jpg',
            logo: '/plugin-assets/%40defra%2Finteractive-map/assets/images/os-logo.svg',
            logoAltText: 'Ordnance survey logo',
            attribution: 'Esri, Maxar, Earthstar Geographics, and the GIS User Community'
          }]
        }),
        defra.datasetsPlugin({
          transformRequest: transformDataRequest,
          datasets: [{
            id: 'field-parcels',
            label: 'Field parcels',
            filter: ['!=', ['get', 'SBI'], '106223377'],
            url: '{{ data.WFS_DATA_URL | safe }}',
            stroke: { outdoor: '#b1b4b6', dark: '#28a197', aerial: 'rgba(40,161,151,0.8)', 'black-and-white': '#28a197' },
            strokeWidth: 2,
            // strokeDashArray: [1, 2],
            fill: 'transparent',
            minZoom: 15,
            maxZoom: 24
          },{
            id: 'linked-parcels',
            label: 'Existing fields',
            filter: ['==', ['get', 'SBI'], '106223377'],
            url: '{{ data.WFS_DATA_URL | safe }}',
            stroke: '#0000ff',
            strokeWidth: 2,
            fill: 'rgba(0,0,255,0.1)',
            minZoom: 15,
            maxZoom: 24
          }]
        }),
        defra.interactPlugin({
          dataLayers: [{
            layerId: 'field-parcels',
            idProperty: 'ID',
            selectedFeatureStyle: { stroke: { outdoor: '#ff0000', dark: '#00ff00' }, strokeWidth: 2, fill: 'rgba(255, 0, 0, 0.1)' }
          },{
            layerId: 'linked-parcels',
            idProperty: 'ID',
            selectedFeatureStyle: { stroke: { outdoor: '#ff0000', dark: '#00ff00' }, strokeWidth: 2, fill: 'rgba(255, 0, 0, 0.1)' }
          }],
          markerColor: { outdoor: '#ff0000', dark: '#00ff00' },
          selectionMode: 'auto', // 'auto', 'select', 'marker' // defaults to 'marker'
          // multiSelect: true
        }),
        defra.searchPlugin({
          osNamesURL: '/api/geocode-proxy?query={query}',
          customDatasets: searchCustomDatasets,
          width: '300px',
          showMarker: false
        }),
        
        defra.scaleBarPlugin({
			    units: 'metric'
		    })
      ]
    })

  </script>
  <!-- UI -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      
      const wholeHoldingRadio = document.getElementById('radio-whole-holding');
      const individualParcelsRadio = document.getElementById('radio-individual-parcels');
      
      const wholeHoldingDiv = document.getElementById('whole-holding');
      const individualParcelsDiv = document.getElementById('individual-land-parcels');
      
      // Get the container element for the filters ONLY
      const filterContainer = document.getElementById('filter-container');

      function toggleMapDisplay() {
        if (wholeHoldingRadio.checked) {
          wholeHoldingDiv.style.display = 'block';
          individualParcelsDiv.style.display = 'none';
          filterContainer.style.display = 'none'; // Hide filters
        } else if (individualParcelsRadio.checked) {
          wholeHoldingDiv.style.display = 'none';
          individualParcelsDiv.style.display = 'block';
          filterContainer.style.display = 'block'; // Show filters
        }
      }

      if (wholeHoldingRadio) {
        wholeHoldingRadio.addEventListener('change', toggleMapDisplay);
      }
      if (individualParcelsRadio) {
        individualParcelsRadio.addEventListener('change', toggleMapDisplay);
      }
      
      // Run once on load
      toggleMapDisplay(); 
    });
  </script>
  <style>
      .govuk-label, .govuk-checkboxes__hint, .govuk-radios__hint, p { font-size: 1rem; } 
      .govuk-checkboxes__hint { margin-top: -14px; }
      .govuk-checkboxes__label {margin-top: -6px;}

      #sticky-sidebar-container { position: sticky; top: 0; z-index: 10; background-color: #ffffff; }
      #filter-container { max-height: 300px; overflow-y: auto; padding-right: 15px; /* Add some padding to make room for the scrollbar visually */ }

  </style>
{% endblock %}