//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@media (min-width: 40.0625em) {
  .govuk-summary-list__row--align-top .govuk-summary-list__key,
  .govuk-summary-list__row--align-top .govuk-summary-list__value,
  .govuk-summary-list__row--align-top .govuk-summary-list__actions {
    vertical-align: top;
  }
}
