{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check parcel details before submitting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        Check land parcel details before submitting
      </h1>

      <!-- <p>{{ data | dump }}</p> -->

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
        {% for item in data['parcel-choices'] %}
          {% set summaryRows = [] %}
          
          {% if item.id %}
            {% set summaryRows = summaryRows.concat([{
              key: {
                text: "Parcel ID"
              },
              value: {
                text: item.id
              },
              actions: {
                items: [
                  {
                    href: "know-parcel-id",
                    text: "Change",
                    visuallyHiddenText: "Land parcel ID"
                  }
                ]
              }
            }]) %}
          {% endif %}
          
          {% if item.map %}
            {% set summaryRows = summaryRows.concat([{
              key: {
                text: "Map"
              },
              value: {
                text: item.map
              },
              actions: {
                items: [
                  {
                    href: "upload-land-parcel-map",
                    text: "Change",
                    visuallyHiddenText: "land parcel map"
                  }
                ]
              }
            }]) %}
          {% endif %}
          
          {% set summaryRows = summaryRows.concat([{
            key: {
              text: "Effective from date"
            },
            value: {
              html: "today" | govukDate
            },
            actions: {
              items: [
                {
                  href: "date-to-link-parcel-to-business",
                  text: "Change",
                  visuallyHiddenText: "date to link parcel to business"
                }
              ]
            }
          }]) %}
          
          {{ govukSummaryList({
            card: {
              title: {
                text: "Land parcel " + loop.index
              },
              actions: {
                items: [
                  {
                    href: "delete-parcel?deleteIndex=" + loop.index0,
                    text: "Delete parcel",
                    visuallyHiddenText: "land parcel " + loop.index
                  }
                ]
              }
            },
            rows: summaryRows
          }) }}
        {% endfor %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <form method="post">
        
      {{ govukRadios({
        name: "registerAnotherParcel",
        fieldset: {
          legend: {
            text: "Do you want to register another land parcel?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>
{% endblock %}
