{% extends "layouts/main.html" %}

{% block pageTitle %}
  Register land – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        Register land
      </h1>

      <p class="govuk-body">Register land to your business that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>has never been registered on the Rural Payments service before</li>
        <li>has previously been registered on the Rural Payments service but is not currently linked to your business</li>
      </ul>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: "There's a different process to transfer land to another person or business. Use <a href='#'>Transfer land</a>."
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Register",
        href: "know-parcel-id",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        Read the guidance <a href="#">Register rural land on the Rural Payments service</a>.
      </p>

      <p class="govuk-body">For land you want to register you will need one of the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a parcel number</li>
        <li>an estimated parcel number</li>
        <li>details of the parcel location</li>
      </ul>
<p>
      You will also a date the change applies from. This can be 12 months in the past or 3 months in the future.
      </p>
   <p>
      If you are registering land that has never been registered on the Rural Payments service before you will need to create an annotated map, or sketch map
      </p>

      <p class="govuk-body">The annotated map should be clearly marked to show:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>permanent boundaries</li>
        <li>permanent agricultural and non-agricultural features, known as land covers</li>
      </ul>   

      <p class="govuk-body">You should write on your map:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the total area of the land parcel</li>
        <li>the estimated parcel ID</li>
      </ul>

      <p class="govuk-body">Name your map. The name should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be unique</li>
        <li>be no longer than 20 characters</li>
        <li>contain only letters or numbers (no spaces)</li>
      </ul>

      <p class="govuk-body">We can only accept files that are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>10 MB or less</li>
        <li>in an accepted format (jpg, jpeg, png, pdf, doc or docx)</li>
      </ul>



    </div>
  </div>

{% endblock %}
