{% extends "layouts/main.html" %}

{% block pageTitle %}
  What maps do you want to download or print? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "whatMaps",
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-l'>AR FIELDING</span>What maps do you want to download or print?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "whole-holding",
            text: "All of my land maps (whole holding)"
          },
          {
            value: "one-or-more",
            text: "Maps of one or more land parcels"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
