{% from "macros/parcel-checkbox.njk" import parcelCheckbox %}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Parcel ID</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">Total area (ha)</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-half">Land cover</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for row in tableData.rows %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="vertical-align: top;">
        <div style="display: flex; align-items: center; gap: 0px;">
          {{ parcelCheckbox(loop.index, row.parcelId) }}
          <label for="parcel-{{ loop.index }}" style="cursor: pointer; margin: 0;">{{ row.parcelId }}</label>
        </div>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric" style="vertical-align: top;">{{ row.area }}</td>
      <td class="govuk-table__cell" style="vertical-align: top;">{{ row.landType }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>