{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class='govuk-caption-l'>AR FIELDING</span>
      View or download a map{{ " of your whole holding" if data['whatMaps'] == 'whole-holding' else "" }}
    </h1>

      <!-- <p>{{ data | dump }}</p> -->

      <form class="form" method="post">

        <p>View a PDF map of all your land to download or print.</p>


        {% if data['infoDisplayedOnMap'] and data['infoDisplayedOnMap'].length > 0 %}
          {% if 'none' in data['infoDisplayedOnMap'] %}
            <p>You have chosen not to display any information on your maps.</p>
          {% else %}
            <p>You've selected the following information to be displayed on your maps:</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for item in data['infoDisplayedOnMap'] %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}

          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

          {{ govukInsetText({
            text: "It may take a few minutes to generate your map."
          }) }}        

        {{ govukButton({
          text: "View or download maps"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
