{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check parcel details before submitting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        Check your answers
      </h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<!-- Check if the 'parcels' array exists and has items -->
{% if data['parcels'] and data['parcels'].length %}

  <!-- Loop through each parcel object in the 'parcels' array -->
  {% for parcel in data['parcels'] %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Land parcel " + loop.index
        },
        actions: {
          items: [
            {
              href: "delete-parcel?deleteIndex=" + loop.index0,
              text: "Delete parcel",
              visuallyHiddenText: "parcel " + loop.index,
              attributes: {
              'data-bypass': 'true'
          }
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Parcel ID"
          },
          value: {
            html: parcel.id 
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "parcel ID for land parcel " + loop.index
              }
            ]
          }
        },
        {
          key: {
            text: "Registered date"
          },
          value: {
            html: "today" | govukDate
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "registered date for land parcel " + loop.index
              }
            ]
          }
        },
        {
          key: {
            text: "Land parcel"
          },
          value: {
            html: "<img src='/public/images/land-parcel-CS07717013.png' alt='Map' class='govuk-!-margin-bottom-0 govuk-!-margin-top-1' style='display: block; max-width: 100%;'>"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "map of land parcel"
              }
            ]
          },
      classes: "govuk-summary-list__row--align-top"
        }
      ]
    }) }}

  {% endfor %}
<!-- End of loop -->

{% else %}
  <p class="govuk-body">You have not added any parcels.</p>
{% endif %}


      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <form method="post">
        
      {{ govukRadios({
        name: "registerAnotherParcel",
        fieldset: {
          legend: {
            text: "Do you want to register any more land?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("registerAnotherParcel", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("registerAnotherParcel", "no")
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<style>
.govuk-summary-list__row--align-top .govuk-summary-list__key,
.govuk-summary-list__row--align-top .govuk-summary-list__value,
.govuk-summary-list__row--align-top .govuk-summary-list__actions {
  vertical-align: top;
}
</style>
{% endblock %}
