{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter the Parcel ID – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <p>{{ data | dump }}</p> -->

      <form method="post">
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
            label: {
                html: "<span class='govuk-caption-l'>AR FIELDING</span>Enter the parcel ID",
                classes: "govuk-label--l",
                isPageHeading: true
            },
            classes: "govuk-input--width-20",
            hint: {
                text: "For example, TL4257 0684"
            },
            id: "parcel-id",
            name: "parcelID"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
      </form>



    </div>
  </div>

{% endblock %}
