{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you know the parcel ID? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if radioError or inputError %}
        {% set errorList = [] %}
        {% if radioError %}
          {% set errorList = (errorList.push({
            text: radioError.text,
            href: "#knowParcelID"
          }), errorList) %}
        {% endif %}
        {% if inputError %}
          {% set errorList = (errorList.push({
            text: inputError.text,
            href: "#parcel-id"
          }), errorList) %}
        {% endif %}
        
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        })}}
      {% endif %}

      <form method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "knowParcelID",
          errorMessage: radioError,
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>AR FIELDING</span>Do you know the parcel ID?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          formGroup: {
            beforeInputs: {
              html: "<p class='govuk-body'>The parcel ID is the unique identifier of a land parcel. It is made up of the:</p>
        <ul class='govuk-list govuk-list--bullet'>
        <li>Ordnance Survey sheet reference (2 letters and 4 numbers)</li>
        <li>National Grid field number (4 numbers)</li>
        </ul>
        <p>For example, SP4178 2432.</p>"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: (knowParcelID == "yes"),
              conditional: {
                html: govukInput({
                  id: "parcel-id",
                  name: "parcel-id",
                  classes: "govuk-input--width-10",
                  value: value,
                  errorMessage: inputError,
                  label: {
                    text: "Enter the parcel ID"
                  }
                })
              }
            },
            {
              value: "no",
              text: "No",
              checked: (knowParcelID == "no"),
              hint: {
                text: "You'll be able to find or generate a parcel ID if you do not have one"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}