{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the land parcel already registered on the Rural Payments service? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "parcelRegistered",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>AR FIELDING</span>Is the land parcel already registered on the Rural Payments service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            },
            {
              value: "dont-know",
              text: "Don't know"
            }
          ]
        }) }}
              
        {{ govukButton({
            text: "Continue"
        }) }}
      </form>



    </div>
  </div>

{% endblock %}
