{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check parcel details before submitting – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        Check parcel details before submitting
      </h1>

      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Parcel ID"
            },
            value: {
              text: "TL42570684"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Effective from date"
            },
            value: {
              text: "11 April 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
        ]
      }) }}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <form method="post">
        
      {{ govukRadios({
        name: "registerAnotherParcel",
        fieldset: {
          legend: {
            text: "Do you want to register another land parcel?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

    </div>
  </div>
{% endblock %}
