{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
       <span class="govuk-caption-l">Mapping Improvements</span>
       Alpha prototypes</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="register-land-start">Register new land</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Land history</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Print maps</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
