{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
       <span class="govuk-caption-l">Mapping Improvements</span>
       Alpha prototypes</h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="business-overview">Register new land</a>
          <ul class="govuk-list govuk-list--spaced">
            <li><s>Land parcel registered, parcel ID known, enter parcel ID, enter date to link to business, check details, declaration, request submitted</s></li>
            <li>Land parcel registered, parcel ID not known, find parcel ID, parcel registered, enter date to link to business, check details, declaration, request submitted</li>
          </ul>
          <ul class="govuk-list govuk-list--spaced">
            <li>Land parcel not registered, parcel ID known, enter parcel ID, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
            <li>Land parcel not registered, parcel ID not known, estimate parcel ID, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
          </ul>
          <ul class="govuk-list govuk-list--spaced">
            <li>Don't know if land parcel is registered, check if land parcel is registered, land parcel is registered, add land parcel, enter date to link to business, check details, declaration, request submitted</li>
            <li>Don't know if land parcel is registered, check if land parcel is registered, land parcel is not registered, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
          </ul>
      </li>
      <li>
        <a class="govuk-link" href="#">Land history</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Print maps</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}











