{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
       <span class="govuk-caption-l">Mapping Improvements</span>
       Alpha prototypes</h1>

    <!-- <p>Land parcels:</p>   
    <ul class="govuk-list">
      <li>Known - TL4257 06841</li>

      SP4178 2432
      <li>New - CS07717013</li>
      <li>Not registered - RD69202871</li>
    </ul> -->

    <p><a class="govuk-link" href="business-overview">Register new land</a></p>
    <h3 class="govuk-heading-s">Customer journeys</h3>
    <ol class="govuk-list govuk-list--number govuk-list--spaced">
      <li>Land parcel registered, parcel ID known, enter parcel ID, enter date to link to business, check details, declaration, request submitted</li>
      <li>Land parcel registered, parcel ID not known, find parcel ID, parcel registered, enter date to link to business, check details, declaration, request submitted</li>
      <li>Land parcel not registered, parcel ID known, enter parcel ID, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
      <li>Land parcel not registered, parcel ID not known, estimate parcel ID, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
      <li>Don't know if land parcel is registered, check if land parcel is registered, land parcel is registered, add land parcel, enter date to link to business, check details, declaration, request submitted</li>
      <li>Don't know if land parcel is registered, check if land parcel is registered, land parcel is not registered, upload parcel map, enter date to link to business, check details, declaration, request submitted</li>
    </ol>

    <p><a class="govuk-link" href="#">Land history</a></p>
    <p><a class="govuk-link" href="#">Print maps</a></p>

  </div>
</div>

{% endblock %}











