{% extends "layouts/main.html" %}

{% block pageTitle %}
  The land parcel is not registered on the Rural Payments service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        The land parcel is not registered on the Rural Payments service
      </h1>

      <h2 class="govuk-heading-m">
        Parcel ID - RD6920 2871
      </h2>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
        html: "<p>This land parcel is not registered on the Rural Payments service.</p><p>You will need to provide an annotated map, or sketch map.</p>"
      }) }}

      <form method="post">
        {{ govukButton({
            text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
