{% extends "layouts/main.html" %}

{% block pageTitle %}
  Upload land parcel map – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">AR FIELDING</span>
        Upload land parcel map
      </h1>

      <p>Upload an annotated map of the land parcel. For guidance see <a href="#">Creating a sketch map to register land or update digital maps</a>.</p>

        <p class="govuk-body">The name of your sketch map must be:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>be unique</li>
            <li>be no longer than 20 characters</li>
            <li>contain only letters or numbers (no spaces)</li>
        </ul>

        <p class="govuk-body">We can only accept sketch maps that are:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>10MB or less</li>
            <li>in an accepted format (jpg, jpeg, png, pdf, doc or docx)</li>
        </ul>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload1",
        label: {
            text: "Upload a file"
        },
        javascript: true
        }) }}

      <form method="post">
        {{ govukButton({
            text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
